@import 'assets/scss/variables.scss';

.arrow {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  opacity: .75;
  transition: opacity .2s ease-in-out;

  &.arrow-next {
    margin-left: -8px;
  }
  
  &:hover {
    opacity: 1;
  }
}

.btn {
  padding: 20px 40px;
  border: 1px solid $mainColor;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .75rem;
  letter-spacing: 1.5px;
  background: $mainColor;
  color: #fff;
  cursor: pointer;  
  transition: all .25s ease-out;
  border-radius: 0px;

  @include for-phone-only {    
    font-size: .65rem; 
    padding: 12px 12px;
  }

  @include for-tablet-portrait-up {
    font-size: .75rem;
    padding: 15px 20px;
  }

  @include for-big-desktop-up {
    font-size: .75rem;
    padding: 15px 20px;
  }

      &:hover {
        background: $mainColorHover;
        color: #fff;
      }
}


.main-btn {
  display: block;
  padding: 1.25rem 1rem;
  width: 100%;
  border: 1px solid $mainColor;
  text-align: center;
  font-weight: 600;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #fff;
  cursor: pointer;  
  transition-property: all;
  transition-duration: .25s;
  transition-timing-function: ease-out;
  border-radius: 1px;
  background-color: $mainColor;


  &:hover {
    background-color: $mainColorHover;
    color: #fff;
  }

  &:disabled {
    opacity: .75;
    &:hover {
      background-color:$mainColor;
      color: #fff;
      cursor: default;
    }
  } 

}

.main-btn-send {
  display: block;
  padding: 1.25rem 1rem;
  width: 100%;
  border: 1px solid $mainColor;
  text-align: center;
  font-weight: 600;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #fff;
  cursor: pointer;  
  transition-property: all;
  transition-duration: .25s;
  transition-timing-function: ease-out;
  border-radius: 1px;
  background-color: $mainColor;

  @include for-phone-only {    
    background-size: 18%;
    background-position: right 30px top 14px;

  }
  @include for-tablet-portrait-up {
    background-size: 10%;
    background-position: right 30px center;
  }

  &:hover {
    background-position: right 25px center;
    background-color:$mainColorHover;
  }
}

.sec-btn {
  padding: 1rem 1rem;
  width: 100%;
  border: 1px solid $grey;
  text-align: left;
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;  
  transition-property: all;
  transition-duration: .25s;
  transition-timing-function: ease-out;
  border-radius: 0px;
  background-color: $grey;

  &:hover {
    background-color: #8a8a8a;
    color: #fff;
  }

}

.sendPdfBtn {
  padding: 16px 30px 16px 46px;
  font-weight: 500;
  font-size: .95rem;
  color: #000;
  position: relative;
  border: 1px solid #ebebeb;
  border-radius: 0px;
  background: #00000014;
  white-space: nowrap;
  -webkit-clip-path: none;
  /* clip-path: polygon(0 0, 98% 0, 95% 100%, 0 100%); */
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  @include base-transition(all);

  &:before {
    content: '';
    background-image: url('~assets/img/ic-mail2.svg');
    background-repeat: no-repeat;
    // position: absolute;
    // left: 14px;
    width: 20px;
    height: 14px;
    background-size: 100%;
    margin-right: 10px;
    // top: 37%;
  }

  &:hover {
    background: #00000024;
    // color: #fff;
    // &:before {
    //   background-image: url('~assets/img/ic-mail-w.svg');
    // }
  }
}

.action-table {

  display: flex;
  
  @include for-phone-only {    
    margin-bottom: 1rem;
    flex-basis: 100%;
    flex-direction: column;
  }

  @include for-tablet-portrait-up  {    
    margin-bottom: 0rem;
    flex-basis: 50%;
  }
  

  button {
    padding: 12px 22px 12px 44px;
    font-weight: 500;
    font-size: .85rem;
    opacity: .75;
    background: transparent;
    position: relative;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    @include base-transition(all, .15s);

    @include for-phone-only {    
        flex-basis: 100%;
        margin-bottom: .5rem;
    }

    @include for-tablet-portrait-up  {    
        flex-basis: auto;
        margin-right: .5rem;
    }

    
    &:hover {
      opacity: 1;
      border: 1px solid rgba(0, 0, 0, 0.15);
    }
  }
  
  &-printBtn {
    
    &:before {
      content: '';
      background-image: url('~assets/img/ic-print.svg');
      background-repeat: no-repeat;
      position: absolute;
      left: 14px;
      width: 16px;
      height: 16px;
      background-size: 100%;
    }

  }
  &-mailBtn {

    &:before {
      content: '';
      background-image: url('~assets/img/ic-mail.svg');
      background-repeat: no-repeat;
      position: absolute;
      left: 14px;
      width: 20px;
      height: 14px;
      background-size: 100%;
      top: 35%;
    }
  }
}
